<div class="bp-splash__container">
  <div class="layout-helper">
    <div class="title-container">
      <h1 class="title">Bienvenidos a mi proyecto</h1>
    </div>
    <app-custom-button routerLink="home">Start</app-custom-button>
    <div class="annotations-container">
      <p class="annotations">
        Mi nombre es Franco Osores, soy un desarrollador Frontend, de Tucumán
        Argentina. Este proyecto fue creado en 48Hrs para la empresa DEVSU como
        parte de un challenge técnico. Antes de comenzar me gustaría hacer
        algunas aclaraciones:
      </p>
    </div>
    <div class="lists">
      <ul>
        <li>
          El proyecto no es responsive ya que no era solicitado en las
          especificaciones
        </li>
        <li>No se utilizó ningún framework para los estilos</li>
        <li>
          Por lo anterior cada componente fue creado a medida para esta app,
          desde los Buttons hasta los Formfields e Inputs
        </li>
        <li>El diseño se basó en un png brindado para el challenge.</li>
        <li>
          Por cuestiones de tiempo en el customizado de los componentes no se
          pudo realizar testing unitario
        </li>
        <li>
          Algunas de las dificultades que encontré al abordar el proyecto:
          <ul>
            <li>
              Copiar los estilos sin las especificaciones fue dificil, sin
              embargo en cuanto a estilos quedé bastante conforme
            </li>
            <li>
              Al ser componentes 100% custom se dificultó la comunicación entre
              los mismos, pero se consiguió que la app funcionará como se
              esperaba
            </li>
          </ul>
        </li>
      </ul>
    </div>
    <div class="title-container">
      <h2 class="title thanks">Muchas gracias por la oportunidad</h2>
      <h3 class="title thanks">Me divertí mucho trabajando en el proyecto</h3>
    </div>
  </div>
</div>
