@import "../../../../styles.scss";

:host {
  --bp-main--table-border: var(--bp-grey-color-light);
  padding: 50px;
}

.bp-header__view {
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  margin-bottom: 30px;
}

.bp-main__view {
  border: 1px solid var(--bp-main--table-border);
  max-height: 200px;
  overflow-y: scroll;
}
