<div class="bp-main__header-container cont">
  <app-header
    (newValue)="setSearchTerm($event)"
    (createEmit)="handleEmit($event)"
  ></app-header>
</div>

<main class="bp-main__view cont">
  <app-table
    (updateEmit)="updateTable()"
    (editValue)="handleChangeEmit($event)"
    [data]="pokemonSearch"
  ></app-table>
</main>

<div class="bp-main__form-container cont">
  <app-bp-form
    (updateEmit)="updateTable()"
    [_pokemon]="editPokemon"
    _title="{{ titulo }}"
  ></app-bp-form>
</div>
