@import "../../../styles.scss";

:host {
  --bp-slider__track: var(--bp-purple-color-dark);
  --bp-slider__track--unfilled: var(--bp-grey-color-light);
}

@media screen and (-webkit-min-device-pixel-ratio: 0) {
  input[type="range"] {
    overflow: hidden;
    -webkit-appearance: none;
    background-color: var(--bp-slider__track--unfilled);
    border-radius: 10px;
  }

  input[type="range"]::-webkit-slider-runnable-track {
    height: 7px;
    -webkit-appearance: none;
    color: var(--bp-slider__track);
    margin-top: -1px;
  }

  input[type="range"]::-webkit-slider-thumb {
    width: 10px;
    -webkit-appearance: none;
    height: 15px;
    background: #474747;
    box-shadow: -500px 0 0 500px var(--bp-slider__track);
  }
}
/** FF*/
input[type="range"]::-moz-range-progress {
  background-color: var(--bp-slider__track);
}
input[type="range"]::-moz-range-track {
  background-color: var(--bp-slider__track--unfilled);
}
/* IE*/
input[type="range"]::-ms-fill-lower {
  background-color: var(--bp-slider__track);
}
input[type="range"]::-ms-fill-upper {
  background-color: var(--bp-slider__track--unfilled);
}

.bp-slider {
  width: 100%;
}
